
@model IEnumerable<BookMaster.Models.Book>

@{
    ViewBag.Title = "SearchBooks";
}

<h2>SearchBooks</h2>

<div class="jumbotron">
    @using (Html.BeginForm("SearchBooks", "Books", FormMethod.Get))
    {
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</div>



@if (Model.Count() == 0)
{
    <tr>
        <td colspan="3" style="color:red">
            No match any document
        </td>
    </tr>
}
else
{
    foreach (var item in Model)
    {
        <ul class="s-result-list s-col-1 s-col-ws-1 s-result-list-hgrid s-height-equalized s-list-view s-text-condensed s-item-container-height-auto">
            <li class="s-result-item celwidget">
                <div class="a-fixed-left-grid">
                        <div class="a-fixed-left-grid-col a-col-left">
                            <img src=@item.image />
                        </div>
                        <div >
                            <div class="float:right a-row a-spacing-small"0>
                                <h1>
                                    @item.Title
                                </h1>
                                <div a-size-medium s-inline  s-access-title  a-text-normal>
                                    @item.Author
                                </div>
                                <div>
                                    @item.Publisher
                                </div>
                                <div>
                                    @item.ISBN
                                </div>
                                <div>
                                    $@item.Price
                                </div>
                                <div>
                                    @item.Quantity
                                </div>
                            </div>

                        </div>
                    </div>
            </li>
        </ul>
    }
}




<!--
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
                Genre
            </th>
            <th>
                ISBN
            </th>
            <th>
                Publisher
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No match any document
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.Genre</td>
                    <td>@item.ISBN</td>
                    <td>@item.Publisher</td>
                    <td>@item.Price</td>
                </tr>
            }
        }
    </tbody>
</table>-->
